@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

* {
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: "Source Sans Pro", sans-serif;
    /* propriedades para a fonte ficar mais legível */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input,
button {
    outline: 0;
}

a {
    text-decoration: none;
}

header {
    height: 52px;
    position: fixed;
    background: #283c4a;
    width: 100vw;
    display: flex;
    justify-content: center;
}

div#main-header {
    width: 1188px;
    padding-left: 24px;
    padding-right: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#main-header > div {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

div#main-header > div > img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

div#main-header div input {
    font-weight: bold;
    background: #e1e9ee;
    border: none;
    border-radius: 2px;
    font-size: 13px;
    height: 34px;
    max-width: 280px;
    flex: 1;
    color: rgba(40, 62, 74, 0.75);
    padding-left: 10px;
}

div#main-header div input:focus {
    background: #fff;
}

div#main-header div input:focus + #search {
    display: none;
}

div#main-header div span#search {
    position: absolute;
    left: 57px;
    top: 14px;
    font-size: 12px;
    color: #283e4a;
}

div#main-header div span#search-button {
    background: red;
}

div#main-header nav {
    margin-right: 17px;
}

div#main-header nav ul {
    display: flex;
    align-items: flex-end;
}

div#main-header nav ul li {
    color: #c7d1d8;
    display: inline-block;
    height: 52px;
}

div#main-header nav ul li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 80px;
    font-size: 20px;
    height: 100%;
    padding-bottom: 3px;
    cursor: pointer;
    transition: color 0.3s;
}

div#main-header nav ul li div:hover {
    color: #fff;
}

div#main-header nav ul li div.selected {
    border-bottom: solid 2px #fff;
    color: #fff;
}

div#main-header nav ul li div#home {
    position: relative;
}

div#main-header nav ul li div#home::after {
    position: absolute;
    right: 23px;
    top: 5px;
    width: 13px;
    height: 13px;
    background: #d11124;
    border: 2px solid #283e4a;
    content: "";
    border-radius: 50%;
}

div#main-header nav ul li div#right-border {
    border-right: solid 1px rgba(255, 255, 255, 0.3);
}

div#main-header nav ul li div img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #e1e9ee;
}

div#main-header nav ul li div small {
    font-size: 13px;
    width: 100px;
    text-align: center;
    padding-bottom: 7px;
    color: #d3d2a1;
    margin-left: 20px;
    line-height: 1.2;
}

div#main-header nav ul li div small:hover {
    text-decoration: underline;
}

div#main-header nav ul li div span.nav-item-text {
    font-size: 13px;
}

div#main-header nav ul li div span.nav-item-text span {
    margin-left: 4px;
}

@media only screen and (max-width: 1047px) {
    div#main-header nav ul li div {
        width: 45px;
        justify-content: center;
    }

    div#main-header nav ul li div.selected {
        border-style: none;
    }

    div#main-header nav ul li div span.nav-item-text {
        display: none;
    }

    div#main-header nav ul li div small {
        padding-bottom: 0;
    }

    div#main-header nav ul li#small {
        margin: 0 20px;
    }

    div#main-header nav ul li div#home::after {
        right: 5px;
        top: 10px;
    }
}

div.container {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 30px;

    display: grid;
    grid-template-areas:
        "ads ads ads"
        "left-aside main-section right-aside";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 216px 1fr 310px;
}

div.container section#ads {
    grid-area: ads;
    display: flex;
    align-items: flex-end;
}

div.container section#ads div {
    padding: 16px 0;
    height: 50%;
    flex: 1;
    text-align: center;
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
}

div.container section#ads div strong {
    cursor: pointer;
}

div.container section#ads div strong:hover {
    text-decoration: underline;
}

div.container section#ads div span#ad-title {
    font-weight: bold;
    color: #0084bf;
}

div.container section#ads div span#ad-subtitle {
    padding-left: 3px;
    font-weight: bold;
    color: #434649;
}

div.container section#ads div span#ad {
    font-size: 13px;
    padding-left: 3px;
    color: rgba(82, 67, 67, 0.55);
}

div.container aside#left-aside {
    grid-area: left-aside;
    background: green;
    height: 100vh;
}
div.container main#main-section {
    grid-area: main-section;
    margin: 0 25px;
    background: blue;
    height: 100vh;
}
div.container aside#right-aside {
    grid-area: right-aside;
    background: yellow;
    height: 100vh;
}
